[user]
	name = Craig P. Motlin
	useconfigonly = true
[alias]
	ci = commit
	co = checkout
	st = status
	cp = cherry-pick
	ri = rebase --interactive --autosquash
	ss = status -s
	br = branch
	f  = fetch --all --prune
	rp = rebase --committer-date-is-author-date --preserve-merges
	unstage = reset HEAD --
	tree = "forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse"
	gl = log --graph --decorate --date=short --format=format:'%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset)%C(auto)%d%C(reset) %C(normal)%s%C(reset) %C(magenta)%an%C(reset) %C(green)%ar%C(reset)'
	ga = log --graph --decorate --date=short --format=format:'%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset)%C(auto)%d%C(reset) %C(normal)%s%C(reset) %C(magenta)%an%C(reset) %C(green)%ar%C(reset)' --exclude=refs/remotes/upstream/pr/*/merge --all
	gb = log --graph --decorate --date=short --format=format:'%C(yellow)%h%C(reset) %C(cyan)%ad%C(reset)%C(auto)%d%C(reset) %C(normal)%s%C(reset) %C(magenta)%an%C(reset) %C(green)%ar%C(reset)' --branches
	m = mergetool --no-prompt --tool=vimdiff
	detach = checkout --detach
	# https://gist.github.com/DuaelFr/5663854
	# https://github.com/GitAlias/gitalias/blob/master/gitalias.txt
	who = shortlog --summary --numbered --email --no-merges
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep '^h'
	last = log -1 HEAD
	# https://github.com/GitAlias/gitalias/blob/master/gitalias.txt
	# Friendly wording is easier to remember.
	# Thanks to http://gggritso.com/human-git-aliases
	branches = branch -a
	tags = tag -n1 --list
	stashes = stash list
	churn = !git log --all --find-copies --find-renames --name-only --format='format:' "$@" | sort | grep -v '^$' | uniq -c | sort | awk 'BEGIN {print "count\tfile"} {print $1 "\t" $2}' | sort -g
	pruner = !"git prune --expire=now; git reflog expire --expire-unreachable=now --rewrite --all"
	repacker = repack -a -d -f --depth=300 --window=300 --window-memory=1g
	optimize = !git pruner; git repacker; git prune-packed
	oops = commit --amend --no-edit
[core]
	autocrlf = input
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[http]
	sslVerify = false
[diff]
	renames = copies
	renameLimit = 100000
	submodule = diff
	mnemonicPrefix = true
	wordRegex = .
# https://git-scm.com/book/en/v2/Git-Tools-Rerere
# https://stackoverflow.com/questions/5519244/are-there-any-downsides-to-enabling-git-rerere
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	autoSetupRebase = always
	autoSetupMerge = always
[merge]
	tool = intellij
[log]
	decorate = full
# https://github.com/so-fancy/diff-so-fancy/issues/35
# [interactive]
	# diffFilter = "diff-so-fancy"
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[mergetool]
	keepBackup = false
[help]
	autoCorrect = 20
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[status]
	submoduleSummary = true
[fetch]
	recurseSubmodules = true
[rebase]
	autoStash = true
	missingCommitsCheck = error
[stash]
	showPatch = true
